In [ ]:
import pandas as pd

In [2]:
df = pd.read_parquet('hospital_data.parquet')

In [3]:
df['Specialties'] = df['Specialties'].str.split(', ')

In [5]:
df['Specialties'].explode().value_counts()

Specialties
S1 General Surgery                              1836
S5 Orthopedic Surgery And Procedures            1813
M3 Critical Care                                1763
S14 Polytrauma                                  1640
M16 General Medicine                            1617
S9 Urology                                      1605
M10 Pulmonology                                 1597
M8 Nephrology                                   1580
S4 Gynaecology And Obstetrics Surgery           1533
M6 Neonatal and Pediatric Medical Management    1479
M5 Infectious diseases                          1423
M14 Medical Gastroenterology                    1365
S10 Neurosurgery                                1356
M7 Cardiology                                   1329
S8 Pediatric Surgery                            1250
S11 Surgical Oncology                           1210
M9 Neurology                                    1184
M13 Endocrinology                               1174
S12 Plastic Surgery                             1158
S2 ENT                                          1145
S6 Surgical Gastroenterology                    1132
S20 Maxillofacial Surgery                       1084
M1 Medical Oncology                             1069
M18 Haematology                                 1051
M19 Haemato Oncology                            1044
S13 Burns                                       1044
S3 Ophthalmology Surgery                        1030
M11 Dermatology                                  940
S15 Prosthesis and Orthosis                      896
M12 Rheumatology                                 810
S7 Cardiac And Cardiothoracic Surgery            782
M15 Interventional Radiology                     773
M20 Physiotherapy                                668
S21 Pediatric Cancer                             532
M17 Mental Health Packages                       520
M2 Radiation Oncology                            331
S16 Maxillofacial Surgery                        170
Name: count, dtype: int64

In [13]:
pincode_df = pd.read_csv('india_pincodes.csv')
pincode_df.head()

,country code,postal code,Area,State,state code,District,province code,community name,community code,latitude,longitude,accuracy
0,IN,744101,Marine Jetty,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.6667,92.7500,3
1,IN,744101,Port Blair,Andaman & Nicobar Islands,1,South Andaman,NaN,Port Blair,NaN,11.6667,92.7500,4
2,IN,744101,N.S.Building,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.6667,92.7500,3
3,IN,744102,Haddo,Andaman & Nicobar Islands,1,South Andaman,NaN,Port Blair,NaN,11.6833,92.7167,4
4,IN,744102,Chatham,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.7000,92.6667,3

In [19]:
pincode_df = pincode_df[['postal code ', 'latitude', 'longitude']].astype({'postal code ': str}).rename(columns={'postal code ': 'Pincode'})
pincode_df

       Pincode  latitude  longitude
0       744101   11.6667    92.7500
1       744101   11.6667    92.7500
2       744101   11.6667    92.7500
3       744102   11.6833    92.7167
4       744102   11.7000    92.6667
...        ...       ...        ...
154804  509412   16.6514    78.0760
154805  509412   16.6514    78.0760
154806  509412   16.6514    78.0760
154807  509412   16.6514    78.0760
154808  509412   16.6514    78.0760

[154809 rows x 3 columns]

In [20]:
main_df = df.merge(pincode_df, on='Pincode', how='left')
main_df

,S.No,Hospital_ID,Specialties,HOSP_DISP_CODE,District,Taluka,Hospital_Name,Address,Pincode,MCO_Contact_Number,Email,latitude,longitude
0,1,HIS55926,[S3 Ophthalmology Surgery],SDEYE,SANGLI,Miraj,"Sudarshan Eye Hospital,Sangli,Pvt","FIRST LANE ,OPP CIVIL HOSPITA,GANESH NAGAR",416416,9975727409,drsureshwagh@yahoo.com,16.8524,74.5553
1,1,HIS55926,[S3 Ophthalmology Surgery],SDEYE,SANGLI,Miraj,"Sudarshan Eye Hospital,Sangli,Pvt","FIRST LANE ,OPP CIVIL HOSPITA,GANESH NAGAR",416416,9975727409,drsureshwagh@yahoo.com,16.8524,74.5553
2,1,HIS55926,[S3 Ophthalmology Surgery],SDEYE,SANGLI,Miraj,"Sudarshan Eye Hospital,Sangli,Pvt","FIRST LANE ,OPP CIVIL HOSPITA,GANESH NAGAR",416416,9975727409,drsureshwagh@yahoo.com,16.8524,74.5553
3,1,HIS55926,[S3 Ophthalmology Surgery],SDEYE,SANGLI,Miraj,"Sudarshan Eye Hospital,Sangli,Pvt","FIRST LANE ,OPP CIVIL HOSPITA,GANESH NAGAR",416416,9975727409,drsureshwagh@yahoo.com,16.8524,74.5553
4,1,HIS55926,[S3 Ophthalmology Surgery],SDEYE,SANGLI,Miraj,"Sudarshan Eye Hospital,Sangli,Pvt","FIRST LANE ,OPP CIVIL HOSPITA,GANESH NAGAR",416416,9975727409,drsureshwagh@yahoo.com,16.8524,74.5553
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25894,2400,HSP999999999,"[M1 Medical Oncology, M19 Haemato Oncology, M2...",RST,NAGPUR,Nagpur(urban),Rashtrasant Tukdoji Regional Cancer Hospital a...,"Manewada Rd, Wanjari Nagar, Nagpur, Maharashtr...",440024,9860029527,rstmco15@gmail.com,23.4600,80.6619
25895,2400,HSP999999999,"[M1 Medical Oncology, M19 Haemato Oncology, M2...",RST,NAGPUR,Nagpur(urban),Rashtrasant Tukdoji Regional Cancer Hospital a...,"Manewada Rd, Wanjari Nagar, Nagpur, Maharashtr...",440024,9860029527,rstmco15@gmail.com,23.4600,80.6619
25896,2400,HSP999999999,"[M1 Medical Oncology, M19 Haemato Oncology, M2...",RST,NAGPUR,Nagpur(urban),Rashtrasant Tukdoji Regional Cancer Hospital a...,"Manewada Rd, Wanjari Nagar, Nagpur, Maharashtr...",440024,9860029527,rstmco15@gmail.com,23.4600,80.6619
25897,2400,HSP999999999,"[M1 Medical Oncology, M19 Haemato Oncology, M2...",RST,NAGPUR,Nagpur(urban),Rashtrasant Tukdoji Regional Cancer Hospital a...,"Manewada Rd, Wanjari Nagar, Nagpur, Maharashtr...",440024,9860029527,rstmco15@gmail.com,23.4600,80.6619
25898,2400,HSP999999999,"[M1 Medical Oncology, M19 Haemato Oncology, M2...",RST,NAGPUR,Nagpur(urban),Rashtrasant Tukdoji Regional Cancer Hospital a...,"Manewada Rd, Wanjari Nagar, Nagpur, Maharashtr...",440024,9860029527,rstmco15@gmail.com,23.4600,80.6619

In [24]:
main_df.dropna(subset=['latitude', 'longitude'], inplace=True)

In [25]:
main_df.to_parquet('hospital_data_enriched.parquet', index=False)